<template>
  <lightning-card title={account.Name} class="bear-tile">
    <div slot="actions">
      <lightning-button-icon
        icon-name="utility:search"
        icon-class="bear-tile-button"
        variant="bare"
        alternative-text="Open record"
        onclick={handleOpenRecordClick}>
      </lightning-button-icon>
    </div>
    <div class="slds-p-horizontal_small">
      <div class="slds-media">
        <div class="slds-media__body">
          <p class="slds-m-bottom_xx-small">Id: {account.Id}</p>
          <p class="slds-m-bottom_xx-small">Phone: {account.Phone}</p>
          <p class="slds-m-bottom_xx-small">Industry: {account.Industry}</p>
        </div>
      </div>
    </div>
  </lightning-card>
</template>