<template>
	<lightning-card title="Accounts" icon-name="utility:animal_and_nature">
		<div class="slds-card__body_inner">
			<!-- Start bear list -->
			<template if:true={accounts.data}>
        <lightning-input type="search"
          onchange={handleSearchTermChange}
          variant="label-hidden"
          class="slds-m-bottom_small"
          label="Search"
          placeholder="Search for accounts"
          value={searchTerm}>
        </lightning-input>
				<lightning-layout multiple-rows="true" pull-to-boundary="small">
					<template for:each={accounts.data} for:item="account">
						<lightning-layout-item key={account.Id} size="3" class="slds-p-around_x-small">
							<c-account-tile account={account} onaccountview={handleAccountView}></c-account-tile>
						</lightning-layout-item>
					</template>
        </lightning-layout>
        <!-- No bears found -->
        <template if:false={hasResults}>
          <div class="slds-align_absolute-center slds-m-vertical_small">
            This is beary disturbing, we did not find results...
          </div>
        </template>
			</template>
			<!-- End bear list -->
			<!-- Data failed to load -->
			<template if:true={accounts.error}>
				<div class="slds-text-color_error">
					An error occurred while loading the account list
				</div>
			</template>
		</div>
	</lightning-card>
</template>